<a href="https://colab.research.google.com/github/Datebi/Python-Practice/blob/Datebi-capt-1/1_Read_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  We are going to read and sum the amount in each row in a CSV file with different methods taught in the book "Big Data con Python" by Rafael Caballero, Enrique Martin and Adrian Riesco.

In [ ]:
#We import the required libraries
import csv
import pandas as pd

In [ ]:
#Simple Method without operations
df = pd.read_csv('subvenciones.csv',encoding = 'latin1')
df.head()

             Asociación   Actividad Subvencionada   Importe
0  AMPA ANTONIO MACHADO  TALLER FIESTA DE CARNAVAL    94.56
1  AMPA ANTONIO MACHADO       TALLER DIA DEL PADRE    39.04
2  AMPA ANTONIO MACHADO     TALLER DIA DE LA MADRE    43.64
3  AMPA ANTONIO MACHADO        FIESTA FIN DE CURSO   921.00
4  AMPA ANTONIO MACHADO     CONCURSO LOGOTIPO AMPA    56.57

In [ ]:
#With the reader Method we are going to iterate the df and get a total sum of the "importe" column.
with open('subvenciones.csv', encoding = 'latin1') as fichero_csv:
  lector = csv.reader(fichero_csv)
  a=next(lector) #Skips the header
  total_amount = 0
  for row in lector:
    amount_str = row[2]
    amount = float(amount_str)
    total_amount = total_amount + amount
  print(total_amount)

66487.94

In [ ]:
#We try DictReader method, it seem to be a more intuitive way of reading a csv file accodring to the author. 
#The reason: We are going to asociate a center with its total amount.

with open('subvenciones.csv', encoding = 'latin1') as fichero_csv:
  dict_reader = csv.DictReader(fichero_csv)
  asocs={}
  for row in dict_reader:
    center = row['Asociación']
    subsidy = float(row['Importe'])
    if center in asocs:
      asocs[center] = asocs[center] + subsidy
    else:
      asocs[center] = subsidy
  print(asocs)

  #The first time you run it, the empty dictionary asocs has no values assigned, so it enters at the 'else' statement
  #meaning that the first value will be assigned at asoc[center] = subsidy, completing the dictionary with all the asociations and summarizing its subsides

{'AMPA ANTONIO MACHADO': 2344.99, 'AMPA BACHILLER ALONSO LOPEZ': 3200.0, 'AMPA CASTILLA': 2604.44, 'AMPA DAOIZ Y VELARDE': 3152.74, 'AMPA EMILIO CASADO': 3015.67, 'AMPA FEDERICO GARCIA LORCA': 1919.06, 'AMPA GABRIEL Y GALAN': 2741.51, 'AMPA LUIS BUÑUEL': 2081.0, 'AMPA MIGUEL HERNANDEZ': 2923.35, 'AMPA MIRAFLORES': 2787.21, 'AMPA PARQUE CATALUÑA': 2604.44, 'AMPA PROFESOR TIERNO GALVÁN': 1286.0, 'AMPA SEIS DE DICIEMBRE': 1950.0, 'AMPA VALDEPALITOS': 3929.5, 'AMPA LA CHOPERA': 1430.0, 'AMPA EL CUQUILLO': 1507.83, 'AMPA VALDELAPARRA': 2465.0, 'AMPA RIVENDEL': 2200.0, 'AMPA AGORA': 2421.67, 'AMPA ALDEBARAN': 3107.05, 'AMPA GINER DE LOS RIOS': 2058.0, 'AMPA SEVERO OCHOA': 3563.9700000000003, 'AMPA VIRGEN DE LA PAZ': 1416.45, 'AMPA JUAN XXIII': 1781.98, 'AMPA SAN ANTONIO': 2101.83, 'AMPA PADRE  MANYANET': 2695.82, 'AMPA FAPA': 3198.43}