<a href="https://colab.research.google.com/github/Datebi/Python-Practice/blob/Datebi-CoderhouseCoursePractice/3.%20Pandas_Baigorria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>> Consigna: 
Con este archivo,

1.-Construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos

2.-Separar nombres de apellidos en dos columnas distintas usando la coma como separador

3.-Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?

4.-Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

>>Aspectos a incluir en el entregable:
El código debe estar hecho en un notebook y debe estar probado.

In [ ]:
#0. Importo el archivo con el que voy a trabajar

import pandas as pd

df_tarea_baigorria = pd.read_csv('Summer-Olympic-medals-1976-to-2008.csv' , encoding='latin-1')

print(df_tarea_baigorria)

           City    Year      Sport  ...        Country Event_gender   Medal
0      Montreal  1976.0   Aquatics  ...   East Germany            W  Silver
1      Montreal  1976.0   Aquatics  ...   Soviet Union            M  Bronze
2      Montreal  1976.0   Aquatics  ...  United States            M    Gold
3      Montreal  1976.0   Aquatics  ...          Italy            M  Silver
4      Montreal  1976.0   Aquatics  ...  United States            W  Bronze
...         ...     ...        ...  ...            ...          ...     ...
15428   Beijing  2008.0  Wrestling  ...         France            M  Bronze
15429   Beijing  2008.0  Wrestling  ...        Georgia            M    Gold
15430   Beijing  2008.0  Wrestling  ...     Azerbaijan            M  Silver
15431   Beijing  2008.0  Wrestling  ...         France            M    Gold
15432   Beijing  2008.0  Wrestling  ...           Cuba            M    Gold

[15433 rows x 11 columns]

In [ ]:
#1. 

series_tiempo_orig = df_tarea_baigorria['Year']
series_tiempo_orig = pd.to_datetime(series_tiempo_orig, format = '%Y')
series_tiempo_orig


#No me gusta que me de el dia y el mes ademas del año, esta bien eso?

0       1976-01-01
1       1976-01-01
2       1976-01-01
3       1976-01-01
4       1976-01-01
           ...
15428   2008-01-01
15429   2008-01-01
15430   2008-01-01
15431   2008-01-01
15432   2008-01-01
Name: Year, Length: 15433, dtype: datetime64[ns]

In [ ]:
#2.Separar nombres de apellidos en dos columnas distintas usando la coma como separador



Nombre_atletas = df_tarea_baigorria['Athlete']
Nombre_atletas.str.split(",", expand = True )

               0                1     2
0         KÖHLER          Christa  None
1       KOSENKOV        Aleksandr  None
2          BOGGS    Philip George  None
3       CAGNOTTO   Giorgio Franco  None
4         WILSON   Deborah Keplar  None
...          ...              ...   ...
15428     GUENOT       Christophe  None
15429  KVIRKELIA         Manuchar  None
15430    RAHIMOV          Vitaliy  None
15431     GUENOT           Steeve  None
15432      LOPEZ           Mijain  None

[15433 rows x 3 columns]

In [ ]:
df_punto2 = pd.concat([df_tarea_baigorria, df_tarea_baigorria['Athlete'].str.split(',', n=1, expand=True)], axis=1)
df_punto2.rename({1: 'Nombre', 0: 'Apellido'}, axis=1 , inplace=True)

df_punto2

           City    Year      Sport  ...   Medal   Apellido           Nombre
0      Montreal  1976.0   Aquatics  ...  Silver     KÖHLER          Christa
1      Montreal  1976.0   Aquatics  ...  Bronze   KOSENKOV        Aleksandr
2      Montreal  1976.0   Aquatics  ...    Gold      BOGGS    Philip George
3      Montreal  1976.0   Aquatics  ...  Silver   CAGNOTTO   Giorgio Franco
4      Montreal  1976.0   Aquatics  ...  Bronze     WILSON   Deborah Keplar
...         ...     ...        ...  ...     ...        ...              ...
15428   Beijing  2008.0  Wrestling  ...  Bronze     GUENOT       Christophe
15429   Beijing  2008.0  Wrestling  ...    Gold  KVIRKELIA         Manuchar
15430   Beijing  2008.0  Wrestling  ...  Silver    RAHIMOV          Vitaliy
15431   Beijing  2008.0  Wrestling  ...    Gold     GUENOT           Steeve
15432   Beijing  2008.0  Wrestling  ...    Gold      LOPEZ           Mijain

[15433 rows x 13 columns]

In [ ]:
#3.-Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?

df_punto2['Country'].value_counts().head(20)

United States     1992
Soviet Union      1021
Australia          798
Germany            691
China              679
Russia             638
East Germany       626
Italy              486
Romania            482
United Kingdom     467
Korea, South       454
France             449
Netherlands        428
Japan              388
Hungary            368
Cuba               349
West Germany       345
Spain              328
Brazil             318
Canada             304
Name: Country, dtype: int64

In [ ]:
#4.-Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

# Primero genere una copia del dataframe original y le inserte la serie de tiempo creada en el punto 1

#df_punto4 = df_tarea_baigorria.copy()
#df_punto4.insert(1,"Year_Serie", series_tiempo_orig, True)
#df_punto4

# Segundo filtro a los hombres de la tabla copiada.

df_punto4filtrado = df_punto4[df_punto4.Gender == 'Men']

#
df_punto4bis = df_punto4filtrado.groupby('Year_Serie')['Medal'].count()

print("Medallas ganadas por hombres a lo largo de los años: \n")
df_punto4bis

Medallas ganadas por hombres a lo largo de los años:

Year_Serie
1976-01-01     924
1980-01-01     958
1984-01-01     973
1988-01-01    1011
1992-01-01    1105
1996-01-01    1082
2000-01-01    1126
2004-01-01    1099
2008-01-01    1110
Name: Medal, dtype: int64